/* Styles for SpinDecide.html */
body {
    font-family: sans-serif;
    text-align: center;
}

/* Spinner Wheel Canvas Alignment */
#spinner-wheel #wheel-text-canvas {
    margin: -12px; /* Compensate for the 12px border of #spinner-wheel */
}

